# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Saved chat exports
chat_*.txt

# OS Files
.DS_Store
Thumbs.db

history.json
long_term_memory.json
chat_*.txt

data/*.pdf